.parcel-cache/data.mdb
.parcel-cache/
node_modules/
dist/

.parcel-cache/13e4ec324867d7bb
.parcel-cache/13e4ec324867d7bb
.parcel-cache/79c0e60060df88cf
.parcel-cache/b5144c5f6588d716
.parcel-cache/data.mdb
.parcel-cache/efdb6dd045fb0e14.txt
dist/index.e82f28a0.js
dist/index.e82f28a0.js.map
dist/index.fb3f94c9.css
dist/index.fb3f94c9.css.map
dist/index.html
